#bbpress-forums div.bbp-search-form {
  display: none;
}

#bbpress-forums div.bbp-reply-author .bbp-author-name {
  margin-left: 0px;
}

.bbp-author-ip {
  display: none;
}

#bbpress-forums div.bbp-reply-author img.avatar {
  margin-left: 0px;
}

.bbp-pagination-count {
  display: none;
}