.wam_icon_td {
	width:3em;
}

.wam_settings_td {
	width:6em;
}

.wam_ruled td{border-bottom:1px solid #CCCCCC;}
.wam_ruled td{
	font-weight:bold;
	text-align:center;
}

.wam_ruled td textarea {
	width:95%;
}

a.wam_icon_link,
a.wam_icon_link:link,
a.wam_icon_link:visited,
a.wam_icon_link:hover,
a.wam_icon_link:active {
	display:block;
	background-repeat:no-repeat;
	background-position:0% 50%;
}

#attachment_manager_upload fieldset {
	border: 1px solid #ccc;
	width: 30em;
	padding: .5em 2em;
	margin: 1em;
}

#attachment_manager_upload legend {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
}

div.main h4.wam {
	font-size:.7em;
	line-height:.8em;
	margin-bottom:.5em;
}

div.wam_wrap ul.wam_ul,
div.wam_wrap ul.wam_ul li {
	list-style:none;
	margin:0;
}