/**
* Version 0.3.4
*/
select#page_id {
   width: 120px;
}

.neo-table {
    width: 100%;
}
.neo-table td {
    font-weight: bold;
    vertical-align: top;
}
.neo-table td {
    padding: 3px 10px;
    text-align: left;
}
.neo-table tr {
    border: 1px solid blue;
}
.sitebuttons {
    padding-top: 20px;
}
   .mu_register form {
        font-style: italic;
        font-size: 0.9em;
   }
   .widecolumn .mu_register  {
        width: 400px;
        margin: 20px auto;
   }
   .mu_register p {
   margin: 1.3em;
   }
   .mu_register input {
    font-size: 24px;
    margin: 5px 0;
    width: 100%;
   }


   .mu_register label {
   font-style: normal;
   margin: 10px 0 5px 0;
   font-size: 1em;
   }
#wikitext {
    font-size: 1em;
}

.rss-date {
    font-style: italic;
}
.rss-block {
    padding: 5px;
    text-align: left;
}

.rss-block a {
    text-decoration: underline;
}
.rss-item {
display: block;
margin: 5px 0px;
}
.rss-block img {
    border: 1px solid;
}
.rss-block-title, .rss-title, .simplepie .title {
    display: block;
    font-weight: bold;
    margin: 10px -10px;
    font-size: 11pt;
}

.rss-morelink {
    display: block;
    margin: 10px;
    float: right;
}

.rss-meta, .simplepie .date, .simplepie .meta {
    font-style: italic;
    font-size: 8pt;
}
.simplepie .meta .author {
    font-weight: bold;
}
.neoblogs  .simplepie .date {
    display: block;
    width: 100%;
    margin: 5px 0 5px 10px;
}

.rss-subscribe {
    padding-right: 20px;
    background: transparent url(images/icons/rss_16.png) no-repeat right;
    text-align: right;
}
.rss-meta a{
font-weight: normal;
}
.simplepie .meta a {
    font-weight: bold;
}

.rss-body {
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

#wp125adwrap_2c {
    width: 185px;
    margin: auto;
}

.simplepie {
    font-size: 8pt;
    margin: 10px 0;
}
.neoblogs .simplepie .date {
    font-style: italic;
    padding: 0 5px 0 0;
}
/* MORE LINK */


.more-link a:hover {
    border: 1px solid gray;
    text-decoration: none;
}
.more-link img {
    border: none;
    padding: 0 0 0 10px;
    margin: 5px;
}
img.thumb, .thumb img {
    max-width: 90px;
    max-height: 90px;
    border: 1px solid;
}
div.more {
    width: 100%;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px;
}
.more-link a:link, .more-link a   {
    border: 1px solid transparent;
    text-decoration: none;
}
.more-link a:hover {
    border: 1px solid gray;
    text-decoration: none;
}
.more {
    text-decoration:none;
    font-size: 9pt;
    line-height: 14pt;
    background-color: transparent;
    padding: 0;
}
.more-link {
    text-decoration:none;
    font-size: 8pt;
    line-height: 14pt;
    background-color: transparent;
    float: right;
}

.more-link a:link, .more-link a   {
    border: none;
    border: 1px solid transparent;
    text-decoration: none;
}
span.more {
    display: inline;
}
span.more img {
    margin-top: 5px;
}
.scroll-window  {
    height:280px;
    overflow: scroll;
    font-size: 9pt;
    padding: 0 0 20px;
}
#lead-image img {
    float:left;
    margin: 0 20px 10px 0;
    padding:1px;
    border:1px solid #999;
}
.recent li { /* also had .serieslist-li,.serieslist-li-current  */
    list-style-type:none;
    margin-bottom:5px;
    padding-left:5px;
    margin-left: 20px;
    list-style-image: url(http://neozine.org/images/icons/recent.png);
}

.recent-comments li, #recentcomments li
{
    margin-bottom:5px;
    padding-left:5px;
    font-size: 9pt;
    margin-left: 15px;
    list-style: none;
    list-style-image: url(http://neozine.org/images/icons/comment.gif);
}
#sidelist .podcasts li, .podcasts li {
    list-style: none;
    list-style-image: url(http://neozine.org/images/icons/podcast.png);
    margin-left: 15px;
}
.podcasts li a {
    font-size: 11pt;
}

.commentlist li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F7F7FC none repeat scroll 0 0;
border-bottom:1px solid #999999;
border-top:1px solid #999999;
margin:15px 0 3px;
padding:8px 15px 10px;
    list-style: none;
}
.comment-author img {
    float: left;
    padding-right: 10px;
}
.commentlist p {
    clear: left;
    padding: 10px 0;
    margin: 0;
}
.commentlist cite.fn {
    float: none;
}
#content .commentlist .commentnumber {
    margin-top: 15px;
}
.reply {
    padding-left: 0px;
    background: transparent url(/images/icons/reply.png) no-repeat;
    height: 20px;
}
.reply a.comment-reply-link {
    line-height: 20px;
    text-align: center;
    display: block;
}
.commentlist .depth-1 {
    margin-left: 20px;
}
.commentlist li .commentnumber {
    padding-top: 8px;
}
.commentmetadata {
    margin-bottom: 10px;
}
.neo_exception {
    display: none;
}
ul.meta {
    margin-left: 15px;
}
.meta li {
    margin: 5px;
    list-style-type: circle;
}
.post-notes {
    padding: 0 10px 15px;
    margin-top: -10px;
}

.ed-note, .note
{
    text-align: center;
    font-size: 9pt;
    margin: 5px auto;
    border-color:#CCCCCC;
    border-style:solid;
    border-width:1px 3px 3px 1px;
    float:none;
    padding: 5px 10px;
}
.note {
    float: right;
    width: 40%;
    margin-right: 0;
    margin-left: 10px;
    padding: 10px;
}
.ed-note img.left, .note img.left {
    border: none;
    margin: 0 5px 0 0;
}
/* .widget_neopost-asides {
    padding: 0 12px 20px 0;
    background: url(images/backgr/spiral-notebook.gif) repeat-y;
} */
.recent-comments li, #recentcomments li
{
    margin-bottom:5px;
    padding-left:5px;
    font-size: 9pt;
    margin-left: 20px;
    list-style: none;
    list-style-image: url(http://neozine.org/images/icons/comment.gif);
}
.podcasts li {
    list-style: none;
    list-style-image: url(http://neozine.org/images/icons/podcast.png);
}
.podcasts li a {
    font-size: 11pt;
}
.twitter li { /* also had .serieslist-li,.serieslist-li-current  */
    list-style-type:none;
    margin-bottom:10px;
    padding-left:37px;
    background:url(/images/icons/twitter-standing.png) no-repeat;
}
.scroll-window  {
    height:280px;
    overflow: scroll;
    font-size: 9pt;
    padding: 0 0 20px;
}
#lead-image img {
    float:left;
    margin: 0 20px 10px 0;
    padding:1px;
    border:1px solid #999;
}
.recent li { /* also had .serieslist-li,.serieslist-li-current  */
    list-style-type:none;
    margin-bottom:5px;
    padding-left:5px;
    margin-left: 20px;
    list-style-image: url(http://neozine.org/images/icons/recent.png);
}

.simplepie {
    font-size: 8pt;
    margin: 10px 0;
}
.neoblogs .simplepie .date {
    font-style: italic;
    padding: 0 5px 0 0;
}
#sidebar .simplepie ol {
    padding-left: 5px;
}
